/*RESET CSS*/

/* v1.0 | 20080212 */



/*Fin estilos generales*/

#contenedor {
	width: 500px;
	margin:auto;
}

/*Estilos formulario*/
#textoContacto {
	width: 500px;
	position: relative;
}

#textoContacto h3 {
	font-size: 3.5em;
	font-family: Helvetica, arial;
	font-weight: 100;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	
	color:#EC1111;
	
	position: absolute;
	top: 200px;
	left: -80px;
}
#formulario {
    width:435px;
    margin:auto;

    font-family: Helvetica, Verdana, Geneva, sans-serif;
    font-size: .8em;
    
    padding:15px;
    
    padding-bottom: 50px;
    padding-left:90px;
    position: relative;
    
    background: url(images/content/contactoBG2.png) no-repeat left;
}
#formulario label{
	display: block;
	float:left;
	width:175px;
    font-weight:bold;
    font-size:12px;
    
    padding-top:5px;
    
    position: relative;
}

label.error { 
	width:175px;
	margin-top:-17px;
	
	color:#ff0000;
	
	float: left;
	
	font-size:1em;
}

#formulario input{
	display: block;
	float:left;
	width:250px;
	margin-bottom: 7px;
}

#formulario textarea{
	display: block;
	float:left;
	width:254px;
	height: 200px;
	margin-bottom: 5px;
	
	resize: none;
}

#formulario .botonAcceder{
	width: 175px;
	height: 30px;
	background: #d3e11d;
	border:none;
	margin:auto;
	
	position: absolute;
	right: 0;
	left: 0;
	bottom: 10px;
	
	color:#535353;
}

#formulario .botonAcceder:hover{
	background: #535353;
	color:#d3e11d;
}

#formulario #aster {
	color:#ff0000;
}

#textoContacto {
	color:#535353;
}

.thanks{
	color:red;
	text-align:center;
	height:220px;
	
	margin-top: 100px;
	font-size:1em;
}






























